version: '2'

services:
  licenses:
    build:
      context: ./licenses
      args:
        - NODE_ENV=production
        - TZ=America/Sao_Paulo
    container_name: licenses
    working_dir: /srv/licenses
    ports:
      - 5100:5100
    command: npm run production
    volumes:
      - ./licenses:/srv/data/licenses
      - ./files/licencas:/srv/data/licenses/files/licencas
      - ./files/requerimentos:/srv/data/licenses/files/requerimentos
      - ./files/unidades_conservacao:/srv/data/licenses/files/unidades_conservacao
      - ./files/terras_indigenas:/srv/data/licenses/files/terras_indigenas
      - ./files/requerimentos_ti:/srv/data/licenses/files/requerimentos_ti
    links:
      - database
    depends_on:
      - database
    restart: always
    env_file:
      - .env
    environment:
      MONGO_URI: ${MONGO_URI}
      CONSUMER_KEY: ${CONSUMER_KEY}
      CONSUMER_SECRET: ${CONSUMER_SECRET}
      ACCESS_TOKEN_KEY: ${ACCESS_TOKEN_KEY}
      ACCESS_TOKEN_SECRET: ${ACCESS_TOKEN_SECRET}
      MAPBOX_ACCESS_TOKEN: ${MAPBOX_ACCESS_TOKEN}
      API_SECURE_KEY: ${API_SECURE_KEY}      
      NODE_ENV: production

  database:
    image: mongo
    container_name: mongodb
    volumes:
      - ./sysbkp/data:/data
    ports:
      - 27017:27017
    restart: always
    env_file:
      - .env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_DB_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_DB_PASSWORD}